body {
  background: f2f2f2;
}

.App {
  max-width: 700px;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px #ddd;
}

h1 {
  margin: 0;
}

.time-entry {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.time {
  color: #776ad4;
}

.form {
  background: #f2f2f2;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: inset 2px 4px #ddd;
}

form h4 {
  margin: 0 0 1rem;
}

form div {
  margin-bottom: 0.5rem;
}
form label {
  display: block;
}

/* .App-logo {
  height: 40vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
